.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

ul.nav {
   list-style-type: none;
}

.nav a {
    font-weight: 1000;
    text-decoration: none;
}

ul ul {
    margin-left: 10px;
    list-style-type:none;
}

a {
    color: #666;
}


