<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      <div class="container" style="margin-top: 5%">
      <div class="row">
          <div class = "three columns">
              {% include nav.html %}
          </div>
          <div class = "nine columns">
              <h2>{{ page.title }}</h2>
              {{ content }}
              <a href="{{site.baseurl}}/projects.html" style="display:block; margin: 0 auto;" class="button">Back to Project Overview</a>
          </div>
      </div>
    </div>

  </body>

</html>
